.lp {
    box-shadow: 0px 0px 0px 0px rgba(9, 29, 42, 0.09), 0px 39px 85px 0px rgba(9, 29, 42, 0.09), 0px 154px 154px 0px rgba(9, 29, 42, 0.07), 0px 347px 208px 0px rgba(9, 29, 42, 0.04), 0px 618px 247px 0px rgba(9, 29, 42, 0.01), 0px 965px 270px 0px rgba(9, 29, 42, 0.00);
}

input {
    outline: none;
}

.l-inp {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 11px 24px 0px rgba(0, 0, 0, 0.07), 0px 43px 43px 0px rgba(0, 0, 0, 0.06), 0px 98px 59px 0px rgba(0, 0, 0, 0.03), 0px 173px 69px 0px rgba(0, 0, 0, 0.01), 0px 271px 76px 0px rgba(0, 0, 0, 0.00);
}